*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    text-align: center;
    line-height: 1.5;
    color: #87879D;
    font-weight: 600;
}

img, svg {
    max-inline-size: 100%;
  block-size: auto;
    
}

header {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.hero-section {
    margin-top: 2em;
    width: 100%;
}

.hero-section-div {
    height: 36vw;
    width: 100%;
    background: url("assets/tablet/image-hero.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > img{
    margin: auto;
}

.hero-section h1{
   
    color: #28283D;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.2;
}
.container {
    margin: auto;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.download-btn {
    background-color: #4D96A9;
    font-weight: 900;
    font-size: 1.1rem;
    border: none;
    color: white;
    padding: 1em 1.5em;
    border-radius: 28px;
    white-space: nowrap;
}

.info-btn {
    background-color: #855FB1;
    font-weight: 900;
    font-size: 1.1rem;
    border: none;
    color: white;
    padding: 1em 1.5em;
    border-radius: 28px;
    white-space: nowrap;
}

.light {
    color: #8FE3F9;
}

.first-section {
    margin: auto;
    display: flex;
    flex-direction: column;
   
}

.first-section-title {
    color: #28283D;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: bolder;
}

.img-container {
    margin: auto;
    padding: 4em 4em 0 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.8em;
}

.img-container > img {
    border-radius: 8px;
}

.uppercase {
    text-transform: uppercase;
    color: #4D96A9;
    font-weight: 800;
    font-size: 0.8rem;
}

.empty-container {
    margin: auto;
    width: 200px;
    display: flex;
    position: relative;
}
.empty-div {
    flex: 1;
    height: 6em;
    width: 50%;
    
}

#first {
    
    border-right: 1px solid #D1D1DF;
}

.number {
    z-index: 2;
    position: absolute;
    padding: 8px 12px;
    border: 1px solid #D1D1DF;
    border-radius: 50%;
    color: #87879D;
    font-weight: 800;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 40%;
    top: 82%;
}

footer > .container {
    background: url("assets/mobile/image-footer.jpg");
    background-color: #4d96a9;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
}

.footer-download-btn {
    background-color: #855FB1;
    font-weight: 900;
    font-size: 1.1rem;
    border: none;
    color: white;
    padding: 1em 1.5em;
    border-radius: 28px;
    white-space: nowrap;
}

.footer-title {
    color: white;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: bolder;
}

.purple {
    color: #D9B8FF;
}

@media (min-width: 45em) {
    .hero-section > .container,
    .first-section > .container {
        max-width: 70%;
    }

    .button-container {
        flex-direction: row;
    }

    .img-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        
    }

    footer > .container {
        width: 100%;
        background: url("assets/tablet/image-footer.jpg");
        background-color: #4d96a9;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
}

@media (min-width: 65em) {
    .hero-section {
        margin-top: 4em;
        margin-bottom: 4em;
        display: flex;
       
        justify-content: center;
    }
    .hero-section-div {
        z-index: 2;
        height: 56vh;
       
        flex: 1;
        background: url("assets/desktop/image-hero-left.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-section-div-right {
        z-index: 2;
        height: 56vh;
        flex: 1;
        background: url("assets/desktop/image-hero-right.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-section > .container {
        flex: 1;
        margin: 0;
        padding: 0;
        height: 30vh;
    }

    .hero-section > .container,
    .first-section > .container {
        max-width: 50%;
    }

    .img-container {
        max-width: 80%;
    }
    footer > .container {
        flex-direction: row;
        gap: 2em;
    }

    .footer-title {
        flex: 1.5;
    }

    .footer-paragraph {
        flex: 1;
    }

    .footer-download-btn {
        flex: 0.5;
    }
}